body{
  background: #171717;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-text{
  /*font-fira*/
}

.line{
  width: 1px;
  height: 70px;
  background: white;
}

.nav-links{

}